<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.springboot.starbucks.domain.admin.ProductRepository">
	<insert id="insertProduct" parameterType="com.springboot.starbucks.domain.admin.Product">
	insert into
		product_info
	values(
		0,
		#{product_name},
		#{product_price},
		#{product_img},
		now(),
		now()
	),
	insert into
		product_categorys
	values(
		0,
	<foreach collection="product_categoryName" item="product_categoryName" index="i">
		#{product_categoryName[i]},
	</foreach>
		now(),
		now()
	);
	</insert>


</mapper>