<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.springboot.starbucks.domain.admin.ProductRepository">

<select id="getIndexByBestProductCode" resultType="Integer">
	SELECT
		product_code
	FROM
		product_order_list
	GROUP BY
		product_code
	ORDER BY
		count(product_code) DESC;
</select>

<select id="getIndexByBestProductList" parameterType="Integer" resultType="com.springboot.starbucks.domain.admin.Product">
	select
		pi.product_code,
		product_name,
		product_price,
		product_img,
		pdi.total_review,
		pdi.total_score
	from
		product_info pi
		LEFT OUTER JOIN productdtl_info pdi ON(pdi.product_code = pi.product_code)
	WHERE
		pi.product_code = #{productCategoryName};
</select>
 
<select id="getIndexByProductAll" resultType="com.springboot.starbucks.domain.admin.Product">
	select
		pi.product_code,
		product_name,
		product_price,
		product_img,
		pdi.total_review,
		pdi.total_score
	from
		product_info pi
		LEFT OUTER JOIN productdtl_info pdi ON(pdi.product_code = pi.product_code)
	group by 
		product_name;
</select>

<select id="getProductByProductCategoryName" parameterType="String" resultType="com.springboot.starbucks.domain.admin.Product">
	select
		pi.product_code,
		product_categoryName,
		product_name,
		product_price,
		product_img,
		pdi.total_review,
		pdi.total_score
	from
		product_categorys pc
		LEFT outer join product_info pi on(pi.product_code = pc.product_code)
		LEFT OUTER JOIN productdtl_info pdi ON(pdi.product_code = pi.product_code)
	where
		pc.product_categoryName = #{productCategoryName};
</select>

<select id="getProductByProductCategoryAll" parameterType="String" resultType="com.springboot.starbucks.domain.admin.Product">
	select
		pi.product_code,
		product_categoryName,
		product_name,
		product_price,
		product_img,
		pdi.total_review,
		pdi.total_score
	from
		product_categorys pc
		LEFT outer join product_info pi on(pi.product_code = pc.product_code)
		LEFT OUTER JOIN productdtl_info pdi ON(pdi.product_code = pi.product_code)
	group by 
		product_name;
</select>

<select id="getProductByFreeShippingProductCategoryName" parameterType="String" resultType="com.springboot.starbucks.domain.admin.Product">
	select
		pi.product_code,
		product_categoryName,
		product_name,
		product_price,
		product_img,
		pdi.total_review,
		pdi.total_score
	from
		product_categorys pc
		LEFT outer join product_info pi on(pi.product_code = pc.product_code)
		LEFT OUTER JOIN productdtl_info pdi ON(pdi.product_code = pi.product_code)
	where
		pi.product_price > 30000 AND pc.product_categoryName = #{productCategoryName};
</select>

<select id="getProductByFreeShippingProductCategoryAll" parameterType="String" resultType="com.springboot.starbucks.domain.admin.Product">
	select
		pi.product_code,
		product_categoryName,
		product_name,
		product_price,
		product_img,
		pdi.total_review,
		pdi.total_score
	from
		product_categorys pc
		LEFT outer join product_info pi on(pi.product_code = pc.product_code)
		LEFT OUTER JOIN productdtl_info pdi ON(pdi.product_code = pi.product_code)
	where
		pi.product_price > 30000
	group by 
		product_name;
</select>

<select id="getProductByProductDtl" parameterType="Integer" resultType="com.springboot.starbucks.domain.admin.Product">
	select
		pi.product_code,
		pi.product_name,
		pi.product_price,
		pi.product_img,
		pdi.product_introduction_img
	from
		product_info pi
		LEFT OUTER JOIN productdtl_info pdi ON(pi.product_code = pdi.product_code)
	where
		pi.product_code = #{product_code};
</select>

<select id="getProductByProduct" resultType="com.springboot.starbucks.domain.admin.Product">
	select
		product_code,
		product_name,
		product_img
	from
		product_info
	where
		product_code = #{product_code};
</select>

<sql id="auto_increment__review_code">
	select
		ifnull(max(review_code), 0) + 1
	from
		product_review;
</sql>
<insert id="insertProductReview" parameterType="com.springboot.starbucks.domain.admin.ProductDtl">
<selectKey keyProperty="review_code" resultType="Integer" order="BEFORE"> 
	<include refid="auto_increment__review_code"></include>
</selectKey>
	insert into
		product_review
	values(
		#{review_code},
		#{product_code},
		#{user_id},
		#{total_score},
		#{review_write},
		now(),
		now()
		);
	insert into
		product_review_file
	values
<foreach collection="review_files" item="review_file" separator=",">
		(
		0,
		#{review_code},
		#{review_file},
		now(),
		now()
		)
</foreach>
;
</insert>

<select id="getProductDtlInfoByProductDtl" parameterType="Integer" resultType="Integer">
select
	pr.total_score
from
	product_info pi
	LEFT OUTER JOIN product_review pr ON(pi.product_code = pr.product_code)
where
	pi.product_code = #{product_code};
</select>

<update id="updateProductDtlInfoByProductDtl" parameterType="com.springboot.starbucks.domain.admin.ProductDtl">
update
	productdtl_info
set
	total_review = #{product_total_review},
	total_score = #{product_total_score}
where
	product_code = #{product_code};
</update>


<select id="getProductDtlByProductDtl" parameterType="Integer" resultType="com.springboot.starbucks.domain.admin.ProductDtl">
select
	pr.review_code,
	pr.product_code,
	pr.user_id,
	um.username,
	um.profile_img,
	pr.total_score,
	pr.review_write,
	pr.create_date,
	prf.review_file
from
	product_review pr
	LEFT OUTER JOIN product_review_file prf ON(prf.review_code = pr.review_code)
	LEFT OUTER JOIN user_mst um ON(um.id = pr.user_id)
where
	pr.product_code = #{product_code};
</select>

<select id="getProductInfoByProductCode" parameterType="Integer" resultType="com.springboot.starbucks.domain.admin.Product">
select
	product_code,
	product_name,
	product_price,
	product_img
from
	product_info
where
	product_code = #{product_code};
</select>

<insert id="insertOrderProduct" parameterType="com.springboot.starbucks.web.dto.payment.ProductOrderRespDto">
insert into
	product_order_list
values(
	0,
	#{user_id},
	#{product_code},
	#{order_charge},
	now()
);
</insert>

<select id="getProductOrderListByUserId" parameterType="Integer" resultType="com.springboot.starbucks.web.dto.payment.ProductOrderReqDto">
select
	pi.product_name,
	pi.product_price,
	pi.product_img,
	pol.order_charge,
	pol.create_date
from
	product_order_list pol
	LEFT OUTER JOIN product_info pi ON(pol.product_code = pi.product_code)
where
	pol.user_id = #{user_id};
</select>

<update id="updateProductReviewAndScore" parameterType="Integer">
	update
		productdtl_info
	set
		total_review = #{total_review},
		total_score = #{total_score}
	where
		product_code = #{product_code};
</update>

<select id="getProductReviewByProductCode" parameterType="Integer" resultType="com.springboot.starbucks.web.dto.admin.ProductRespDto">
	select
		total_review,
		total_score
	from
		productdtl_info
	where
		product_code = #{product_code};
</select>

</mapper>











